.container__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 2;
    min-height: 50vh; 
}

.titulo {
    font-family: 'Merriweather';
    font-size: 2.5em;
    text-align: center;
    color: var(--color-principal);
    font-weight: 100;
}

.titulo span {
    display: block;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 3px solid var(--color-secundario);
    color: var(--color-principal);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Lato';
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.3px;
    transition: transform 0.8s ease, box-shadow 1s ease;
}

.button:hover {
    transform: scale(1.01); /* Aumenta el tamaño del botón */
    box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
}