.nav__container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos */
    align-items: center;
    width: 100%;  /* Usar 100% en lugar de 100vw */
    max-width: 100%; /* Evita el desbordamiento */
    padding-top: 12px;
    color: #ddd;
    box-sizing: border-box;
    font-size: 1.2em;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 140px; /* Más espaciado entre elementos */
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Hace que ocupe todo el espacio disponible */
    justify-content: center; /* Centra los elementos en la lista */
    position: relative;
    top: -30px; /* Ajusta este valor para subir más */
}

.nav__logo {
    flex-shrink: 0; /* Evita que se encoja */
}

.nav__logo img {
    height: 100px;
    width: auto;
    margin-top: 40px;
    margin-left: 15px;
}

.nav__item {
    font-size: 1.3em;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0.6px;
}

.nav__item a {
    color: #ccc;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav__item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1E55E3;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

.nav__item a:hover {
    color: #fff;
}

.nav__item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown__menu {
    background: rgba(0, 0, 0, 0.3);
    font-size: 0.7em;
}
  
.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, visibility 0.6s;
}

.dropdown__menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
  
.dropdown__menu li {
    padding: 11px 15px;
    white-space: nowrap;
}
  
.dropdown__menu li a {
    text-decoration: none;
    color: #ccc;
    display: block;
}
  
  /* Asegurar que el dropdown no se cierre abruptamente */
.nav__dropdown-container:hover .dropdown__menu {
    display: block;
}