.container__plantel h1{
    color: var(--color-principal);
    text-align: center;
    font-family: "Merriweather";
    letter-spacing: 1px;
}

.container__plantel .especialidad {
    color: var(--color-principal);
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
 
.container__grado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 900px; /* Evita que los elementos se separen demasiado */
    margin: 0 auto;
}

.container__jardin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 600px; /* Evita que los elementos se separen demasiado */
    margin: 0 auto;
}

.container__especial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 900px; /* Evita que los elementos se separen demasiado */
    margin: 0 auto;
}

.docente {
    width: 100%;
    max-width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centra los elementos si son menos que el grid */
    transition: transform 0.8s ease
}

.docente:hover {
    border: 2px solid var(--color-secundario);
    transform: scale(1.03);
}

.docente .nombre {
    font-size: 1.4em;
    color: #eee;
    margin-bottom: 10px;
    font-family: "Lato";
}

.docente .sala {
    font-size: 1.1em;
    color: #ddd;
    font-family: "Lato";
}

.docente img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
}