:root {
    --color-principal: #ddd;
    --color-secundario: #1E55E3;
}

body {
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Evita que el fondo se expanda */
    min-height: 100vh; /* Asegura que al menos cubra toda la pantalla */
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  /* Hace que los elementos hijos se apilen verticalmente */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido llene toda la pantalla */
}

.main-content {
    flex: 1; /* Hace que el contenido crezca y empuje el footer hacia abajo */
    padding: 20px;
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

body > * {
    position: relative;
    z-index: 2;
}

