.crear__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

.title__create {
    font-size: 2.8em;
    font-family: 'Merriweather';
    color: var(--color-secundario);
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Nueva sombra */
}

.container__general {
    border: 3px solid var(--color-secundario);
    padding: 50px;
    background-color: #fffc;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.436);
}

.container__create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.crear__item {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 2.3em;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Lato';
    transition: transform 0.8s ease, box-shadow 1s ease, border 0.8s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.crear__item:hover {
    transform: scale(1.01); /* Aumenta el tamaño del botón */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.436);
}

.icono__crear {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  vertical-align: middle;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Sombra agregada */
}

.icono__crear-profesor {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  vertical-align: middle;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Sombra agregada */
}


@media screen and (min-width: 1025px) and (max-width: 1280px){
    .crear__wrapper {
    margin-top: -80px;
}

.title__create {
    font-size: 2.1em;
    margin-bottom: 5px;
}

.container__create {
    gap: 60px;
}

.crear__item {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: -20px;
}

.icono__crear {
  width: 50px;
  height: 50px;
}

.icono__crear-profesor {
  width: 65px;
  height: 65px;
}
}