.documentos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}

.documentos_title {
  color: #ddd;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.documentos_lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.documento_item {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 6px 10px rgba(0,0,0,1);
}

.documento_nombre {
  color: #eee;
  font-size: 1.2rem;
}

.documento_btn {
  background: var(--color-primario);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.documento_btn:hover {
  opacity: 0.8;
}

.documento_btn_icon {
  background: var(--color-primario);
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}