.documentos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}

.documentos_title {
  color: #ddd;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.documentos_lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.documento_item {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 6px 10px rgba(0,0,0,1);
}

.documento_nombre {
  color: #eee;
  font-size: 1.2rem;
}

.documento_btn {
  background: var(--color-primario);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.documento_btn:hover {
  opacity: 0.8;
}

.documento_btn_icon {
  background: var(--color-primario);
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


/* Responsive Design */

/* Notebooks */

/* Muy Grandes */
@media screen and (min-width: 1440px) {
  .documentos_title {
    font-size: 3rem;
    margin-top: -35px;
  }

  .documentos_lista {
    max-width: 800px;
  }

  .documento_item {
    padding: 26px;
    font-size: 1.3rem;
  }

  .documento_nombre {
    font-size: 1.4rem;
  }
}

/* Grandes */
@media screen and (min-width: 1281px) and (max-width: 1439px) {
  .documentos_title {
    font-size: 2.7rem;
    margin-top: -45px;
  }

  .documentos_lista {
    max-width: 700px;
  }

  .documento_item {
    padding: 22px;
  }

  .documento_nombre {
    font-size: 1.3rem;
  }
}

/* Celulares */
@media screen and (max-width: 768px) {

  .documentos_container {
    margin-top: 110px;
  }

  .documentos_title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .documentos_lista {
    width: 100%;
    padding: 0 10px;
    gap: 16px;
  }

  .documento_item {
    flex-direction: column;   
    gap: 15px;
    padding: 16px;
  }

  .documento_btn_icon {
    width: 100%;
    font-size: 1.2rem;
    padding: 14px 0;
  }

  .documento_nombre {
    font-size: 1.1rem;
  }
}
