.mis-cursos__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.mis-cursos__table {
  width: 100%;
  max-width: 600px; /* ancho máximo para que no se extienda demasiado */
  margin: 10px auto 20px auto; /* centrado horizontal con margen arriba y abajo */
  border-collapse: separate;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.527);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.mis-cursos__table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.mis-cursos__table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.mis-cursos__table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.mis-cursos__table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.mis-cursos__table thead {
  text-align: center;
  width: 100%;
}

.mis-cursos__table thead th {
  padding: 8px 12px;
  color: #ddd;
  text-align: center;
  border: 1.5px solid var(--color-secundario);
}

.mis-cursos__table thead .grado {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 14px 0;
}

.mis-cursos__table tbody td {
  padding: 8px 20px;
  border-bottom: 1.5px solid var(--color-secundario);
  border-right: 1.5px solid var(--color-secundario);
  border-left: 1.5px solid var(--color-secundario);
  color: #ddd;
  text-align: center;
}

.mis-cursos__title {
    color: #ddd;
    text-align: center;
    font-size: 2.5em;
    margin-top: -30px;
    margin-bottom: 20px;
    font-family: "Merriweather";
}

.mis-cursos__acciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mis-cursos__btn-editar,
.mis-cursos__btn-eliminar, .mis-cursos__btn-cargar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

.mis-cursos__btn-eliminar svg {
  fill: #e74c3c;
  margin: auto;
}

.mis-cursos__btn-editar, .mis-cursos__btn-cargar {
  border: 2px solid var(--color-secundario);
  background-color: transparent;
  border-radius: 50%;
}

.mis-cursos__btn-eliminar {
  border: 2px solid rgb(189, 17, 17);
  background-color: transparent;
  border-radius: 50%;
}

.mis-cursos__btn-editar:hover, .mis-cursos__btn-cargar:hover {
  background-color: #1e56e396;
}

.mis-cursos__btn-eliminar:hover {
  background-color: rgba(231, 9, 9, 0.575);
}

/* Agregá esto a tu CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #ddd;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  font-size: 0.95em;
  max-width: 100%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.436);
  font-family: 'Merriweather';
}

.mis-cursos__seleccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secundario);
  padding: 30px 23px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semitransparente */
  backdrop-filter: blur(8px); /* el efecto de blur */
  -webkit-backdrop-filter: blur(8px); /* para Safari *  /* Safari */
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.436);
}

.mis__cursos-botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mis__cursos-title {
  font-size: 1.85em;
  color: #ddd;
  margin-bottom: 25px;
}

.mis__cursos-btn-curso {
  border: 1px solid var(--color-secundario);
  background-color: transparent;
  padding: 16px;
  border-radius: 10px;
  font-size: 1.3em;
  color: #ddd;
}

/* opcional: efecto al pasar el mouse */
.mis__cursos-btn-curso:hover {
  background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semitransparente */
}

.mis__cursos-boton-volver {
  border: 1px solid var(--color-secundario);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 16px;
  border-radius: 10px;
  font-size: 1.2em;
  align-self: center;
  max-width: max-content; /* ocupa solo lo necesario */
}

.mis__cursos-boton-volver:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

.mis-cursos__table{
  margin-top: -30px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nota__btn-cancelar{
  background-color: #bbb;
  color: #333;
}

.nota__btn-cancelar:hover{
  background-color: #aaa;
}